{% load static %}
<!-- footer part start-->
<footer class="footer-area">
    <div class="footer section_padding ">
        <div class="container ">
            <div class="row justify-content-between ">
                <div class="col-xl-2 col-md-4 col-sm-6 single-footer-widget ">
                    <a href="{% url 'home' %}" class="footer_logo "> <img src="{% static 'img/e-health.png' %} " alt="# "> </a>
                    <p>Have access to a health professional at any time Feel good work great </p>
                </div>
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget ">
                    <h4>Quick Links</h4>
                    <ul>
                        <!-- change href here -->

                        <li><a href="{% url 'doctor_dahboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'medical_records' %}">View Medical Record</a></li>
                        <li><a href="{% url 'appointment' %} "> View Appointment</a></li>

                        <!-- change href here -->
                    </ul>
                </div>
                {% else %}
                <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget ">
                    <h4>Quick Links</h4>
                    <ul>
                        <!-- change href here -->

                        <li><a href="{% url 'patient_dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'medical_records' %}">Medical Records</a></li>
                        <li><a href="{% url 'appointment' %} "> Make Appointment</a></li>

                        <!-- change href here -->
                    </ul>
                </div>
                {% endif %}
                {% else %}
                <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget ">
                    <h4>Quick Links</h4>
                    <ul>
                        <!-- change href here -->

                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'service' %}">Services</a></li>
                        <li><a href="{% url 'contact' %} "> Contact</a></li>

                        <!-- change href here -->
                    </ul>
                </div>
                {% endif %}




                <div class="col-xl-3 col-sm-6 col-md-6 single-footer-widget ">
                    <h4>Newsletter</h4>
                    <p>Seed good winged wherein which night multiply midst does not fruitful</p>
                    <div class="form-wrap " id="mc_embed_signup ">
                        <form target="_blank " action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01 " method="get " class="form-inline ">
                            <input class="form-control " name="EMAIL " placeholder="Your Email Address " onfocus="this.placeholder='' " onblur="this.placeholder='Your Email Address ' " required=" " type="email ">
                            <button class="click-btn btn btn-default text-uppercase "> <i class="ti-angle-right "></i>
                                </button>
                            <div style="position: absolute; left: -5000px; ">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a " tabindex="-1 " value=" " type="text ">
                            </div>

                            <div class="info "></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright_part ">
        <div class="container ">
            <div class="row align-items-center ">
                <p class="footer-text m-0 col-lg-8 col-md-12 ">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- footer part end-->